.searchbar {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 327px;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  background: #EAF2FE;
  gap: 7rem;
}

.mg-search {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search {
  color: #709ce6;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 22px;
  width: 54px;
}

.fs{
    cursor: pointer;
}